html{
    height: 100%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* flex:1; */
    min-height:100%;
}
.header,.footer{
    background-color: #1f2937;
    color: white;

}
.header{
    
    padding: 20px 120px 120px
}
.footer{
    /* justify-content: space-between; */
    text-align: center;
    padding: 20px;

}
.fline{
    display: flex;
    justify-content: space-between;
    flex-basis:200px;
    margin-bottom: 70px;
}
.hright{
    display: flex;
    gap:16px;
    align-items: center;
}
.hlogo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex: 1;
}
.hright{
    flex: 1;
    justify-content: center;
}
.sline{
    display: flex;
    gap :20px;
}
.webname{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}
.sign{
    background-color: #3882f6;
    width:70px;
    border-radius: 25px;
    text-align: center;
    padding:4px 8px;
    font-weight: 700;
}
.htext{
    flex:1;
}
.himage{
    display: flex;
    flex: 1;
    justify-content: center;
}
.allbody{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    /* align-items:; */
}
.topcon,.midcon,.botcon{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex:1 1 0;
margin: 0;
padding:0;
}
.textbox{
    display: flex;
    justify-content: space-evenly;
    gap:16px;
    margin: 0;
    padding: 0;
    width: 70%;
}
.midcon{
    background-color: #e5e7eb;
}
.quote{
    width:30%;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 24px;
    color: #1f2937;
}


.info{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
   align-items: flex-start;
   margin:40px 0;
}
.callus{
    display: flex;
    width:80%;
    height:50%;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 25px;
    align-items: center;
    color: white;
}
.box{
    display: flex;
    height: 200px;
    width: 200px;
    border-style:solid ;
    border-color: #3882f6;
    border-radius: 25px;
    overflow: hidden;
}
.img{
    width: 100%;
}
.ctitle{
    font-weight: 700;

}
.commentbox{
    display: flex;
    flex-direction: column;
    text-align: center;
    }
.comment{
    width: 200px;
    margin-top: 20px;

    /* flex-wrap: wrap; */
}
.topcon{
    margin-bottom: 40px;
}
.quotename{
    display: flex;
    width: 30%;
    justify-content: flex-end;
}
.cright{
    border-style: solid;
    padding:10px 20px;
    border-radius: 25px;
}