html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    /* flex:1; */
    min-height:100%;
}
.header,.footer{
    background-color: #1f2937;
    color: white;

}
.header{
    
    padding: 20px 120px 120px
}
.footer{
    /* justify-content: space-between; */
    text-align: center;
    padding: 20px;

}
.fline{
    display: flex;
    justify-content: space-between;
    flex-basis:200px;
    margin-bottom: 70px;
}
.hright{
    display: flex;
    gap:16px;
    align-items: center;
}
.hlogo{
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    flex: 1;
}
.hright{
    flex: 1;
    justify-content: center;
}
.sline{
    display: flex;
}
.webname{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.subtext{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}
.sign{
    background-color: #3882f6;
    width:70px;
    border-radius: 25px;
    text-align: center;
    padding:4px 8px;
    font-weight: 700;
}
.htext{
    flex:1;
}
.himage{
    flex: 1;
}
.allbody{
    display: flex;
    flex-direction: column;
    flex:1;
    /* align-items:; */
}
.topcon,.midcon,.botcon{
    display: flex;
justify-content: center;
align-items: center;
flex:1;


}
.midcon{
    background-color: #e5e7eb;
    flex-direction: column;

}
.quote{
    width:300px;
    flex-wrap: wrap;
}
.midcon>.quotename{
    /* align-items: ; */
}
.info{
    font-size: 36px;
    font-weight: 900;
    color: 1f2937;
}